<%= form_for post,
  builder: Admin::PostBuilder,
  html: {class: %w(post editor), id: "postEditor"} do |f| %>

  <%= hidden_field_tag :context, :content %>

  <nav class="post">
    <ol class="menu">
      <li class='active' target='content'>Content</li>
      <li target='stylesheet'>Stylesheet</li>
      <li target='javascript'>Javascript</li>
      <li class="actions">
        <%= f.action %>
      </li>
    </ol>

    <% unless Admin::Image.new.s3.connected? %>
      <div class="missing configuration">
        <h3>Configure</h3>
        <p>You cannot use images in your posts until you add a S3 bucket.</p>
        <%= link_to "Configure S3", admin_configurations_images_path, class: %w(button) %>
      </div>
    <% end %>

    <% if post.draft? %>
      <p class="status" data-saving="Saving your post...">Drafts are saved automatically</p>
    <% else %>
      <p class="status warning" data-saving="Saving your post...">Published post needs to be <strong>manually</strong> saved</p>
    <% end %>

  </nav>

  <section class="textareas">
    <div contenteditable=true class='content active' target='content' as="Posts.Editor.Content">
    </div>
    <%= f.text_area :stylesheet, placeholder: t('.stylesheet'), class: %w(stylesheet), target: 'stylesheet' %>
    <%= f.text_area :javascript, placeholder: t('.javascript'), class: %w(javascript), target: 'javascript' %>
  </section>

<% end %>

